@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #1F49F2;
    --color-secondary: #FFC928;
    --color-dark: #1B1B1B;
    --color-background: #F8F9FA;
    --color-border-color: #E5E7EB;
    
    --color-success: #16A34A;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;

    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        @apply bg-background text-dark antialiased;
    }
}
